* {
  box-sizing: border-box;
}

:root {
  --text-color: whitesmoke;
  --hover-color: #d105f9;
  --animation-timing: 250ms;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#tooltip {
  position: absolute;
  background: black;
  color: var(--text-color);
  opacity: 0;
  padding: 10px;
  border-radius: 10px;
  pointer-events: none;
  line-height: 1.5;
  transform: translate(-40%, -90%);
  transition: opacity var(--animation-timing) ease-out;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

.cell:hover {
  fill: var(--hover-color);
}
